/*Farben*/

:root {
    --ci-basis: var(--paletteColor1);
    --ci-sub-box-background-color: #0203047a;
    --ci-sub-box-font-color: white;
    --ci-alert-color: var(--paletteColor7);
    --ci-notification-color: var(--paletteColor6);
    --ci-success-color: var(--paletteColor4);

    /* Group Status Colors */

    --ci-group-closed: var(--ci-tab-background-darker);
    --ci-group-pending: var(--paletteColor7);
    --ci-group-ready: var(--paletteColor6);
    --ci-group-founded: var(--paletteColor4);


    --ci-box-shadow: 2px 2px 7px #444;
    --ci-tutorial-notification: var(--paletteColor5);
    --ci-tab-background: var(--paletteColor5);
    --ci-tab-background-darker: #a7abab;

    --ci-accent-color: var(--paletteColor2);

    --ci-button-color: var(--paletteColor7);
    --ci-button-color-hover: var(--paletteColor4);

}

[data-vertical-spacing*="top"] {
    padding-bottom: var(--content-vertical-spacing);
}

/* Pinnwand Header */


.rpi-wall-tutorial-header {
    box-shadow: var(--ci-box-shadow);
    border-radius: 3px;
    background-color: var(--ci-tutorial-notification);
    margin-top: var(--content-vertical-spacing);
    padding: 15px;
}
.rpi-wall-filters {
    margin-top: var(--content-vertical-spacing);
    position: relative;
}
.rpi-wall-filters .rpi-wall-buttons a{
    position: absolute;
    right: 0;
}


.pin-title-icon {
    margin-bottom: unset !important;
}

.pin-title-icon.pin svg {
    background: var(--ci-tab-background-darker);
    fill: black;
    margin-right: 10px;
    border-radius: 0 0 5px 5px;
    top: 0;
    position: absolute;
    left: 20px;
    width: 50px;
    height: 40px;
    padding: 7px;
}

.entry-card.wall.is_public_pin .pin-title-icon.pin svg {
    background: var(--ci-accent-color);
}

.pin-title-icon.group svg {
    background: var(--ci-accent-color);
    fill: white;
    margin-right: 10px;
    border-radius: 0 0 5px 5px;
    top: 0;
    position: absolute;
    left: 75px;
    width: 50px;
    height: 40px;
    padding: 7px;

}

.pin_is_public_message {
    font-size: x-small;
    font-weight: lighter;
}

/*Kommentar Überschrift ausblenden*/

body.pending #group .page-title:before {
    content: 'Jetzt beitreten!';
    color: var(--ci-group-pending);
    display: block;
    text-align: left;
}

.entry-card.pending {
    background-color: blanchedalmond;
}

.entry-card.founded {
    background-color: lightcyan;
}

article.entry-card {
    position: relative;
}

article.entry-card.member h4 {
    font-size: 20px;
}

/*
.rpi-wall-group-status-triangle {
    position: absolute;
    right: -26px;
    top: -6px;
    width: 0;
    height: 0;
    border-bottom: 40px solid black;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(45deg);

}

.rpi-wall-group-status-triangle::after {
    content: 'PLG';
    color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    right: -12px;
    top: 8px;
}

.rpi-wall-group-status-triangle.pending {
    border-bottom-color: red;
}

.rpi-wall-group-status-triangle.ready {
    border-bottom-color: orange;
}

.rpi-wall-group-status-triangle.founded {
    border-bottom-color: lightseagreen;
}
*/

article .pin-title-icon.group svg, .group-post-wrapper.ready .pin-title-icon.group svg {
    background: var(--ci-tutorial-notification);
}

article.ready .pin-title-icon.group svg, .group-post-wrapper.ready .pin-title-icon.group svg {
    background: var(--ci-group-ready);
}

article.pending .pin-title-icon.group svg, .group-post-wrapper.pending .pin-title-icon.group svg {
    background: var(--ci-group-pending);
}

article.closed .pin-title-icon.group svg, .group-post-wrapper.closed .pin-title-icon.group svg {
    background: var(--ci-group-closed);
}

article.founded .pin-title-icon.group svg, .group-post-wrapper.founded .pin-title-icon.group svg {
    background: var(--ci-group-founded);
    fill: white;
    color: white;
}

.tab-label {
    margin-top: -8px;
}

article:not(.is_public_pin) label[for="tab-pin"] {
    border-bottom: 10px solid var(--ci-group-closed);
}

article.ready label[for="tab-group"] {
    border-bottom: 10px solid var(--ci-group-ready);
}

article.pending label[for="tab-group"] {
    border-bottom: 10px solid var(--ci-group-pending);
}

article.founded label[for="tab-group"] {
    border-bottom: 10px solid var(--ci-group-founded);
}

article.closed label[for="tab-group"] {
    border-bottom: 10px solid var(--ci-group-closed);
}

.tabset > input:checked + label[for="tab-group"] {
    background: var(--ci-accent-color);
}

.single-wall #reply-title, .single-wall .ct-comments-title, .single-wall .comment-form-cookies-consent {
    display: none;
}

.watch-btn-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    float: right;
    background-color: var(--ci-tab-background);
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
}


.watch-btn-wrapper .rpi-wall-watch-button {
    border-radius: 50%;
    background-color: white;
    height: 32px;
    padding: 5px;
    opacity: 0.3;
}

.watch-btn-wrapper .rpi-wall-watch-button:hover {
    background-color: var(--ci-tab-background-darker);
    opacity: 1;
}

.watch-btn-wrapper .rpi-wall-watch-button.watching {
    background-color: var(--ci-accent-color);
    opacity: 1;
}

.watch-btn-wrapper span {
    display: inline-flex;
    padding: 4px;
    color: black;
    font-weight: bold;
}

.post-type-archive-wall.logged-in .watch-btn-wrapper {
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 25px;
    background-color: #efefef;
}


#comments {
    margin-top: 0;
    border: none;
}

#comments .logged-in-as {
    display: none;
}

.single-member .meta-author img {
    height: 100px !important;
    width: auto;
    border: 10px solid var(--ci-accent-color);
    border-radius: 50%;
}

.single-member .ct-meta-element-author {
    margin-left: 20px;
}

.single-member .entry-header .user-matrixId {
    margin-top: -30px;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
    background-color: var(--ci-tab-background);
}

.single-member .entry-header .user-matrixId summary {
    padding: 10px;
}

.single-member .entry-header .user-matrixId summary:hover {
    border-radius: 15px;
    background-color: var(--ci-tab-background-darker);
    color: black;
}

.single-member .entry-header .user-matrixId svg {
    padding: 3px;
    background-color: white;
    border-radius: 5px;
}


.member-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    column-gap: 40px;
}

.member-tags ul {
    /*display: flex;*/
    flex-wrap: wrap;
    margin-right: 20px;
    padding-inline-start: 0px;
}

.member-tags li {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
}

.tags-selector {
    margin-top: 40px;
}

.member-message-grid {
    display: grid;
    grid-template-areas: "list detail-view";
    grid-gap: 15px;
    grid-template-columns: 50% 50%;
}

.member-message-button-bar {
    width: 50%;
    position: relative;
}

.member-message-button-bar-right {
    position: absolute;
    top: 0;
    right: 0;
}

.button.message-button-active {
    background-color: var(--ci-button-color-hover);
}

.member-message-list {
    grid-area: list;
}

.member-message-detail {
    grid-area: detail-view;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
}

.member-message-detail div {
    margin: 5px;
}

#member-message-detail-options {
    text-align: right;
    display: none;
}

#member-message-detail-title {
    font-weight: bold;
    font-size: larger;
}

#member-message-detail-content {
}

.message-entry {
    border-radius: 3px;
    margin: 5px;
    padding: 10px;
    background-color: var(--ci-tab-background);
    color: black;
}

.message-entry:hover {
    background-color: var(--ci-tab-background-darker);
    cursor: pointer;
}

.message-entry.focused {
    background-color: var(--ci-accent-color);
    color: black;
}

.message-entry .unread {
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.single-wall article.wall {
    margin-top: 120px;
}

.wall .entry-title {
    margin-top: 20px !important;
}

@media only screen and (max-width: 600px) {
    .member-message-button-bar {
        width: unset;
    }

    .member-message-grid {
        display: unset;
    }

    .member-message-grid.message-detail .member-message-list {
        display: none;
    }


    .member-message-grid.message-list .member-message-detail {
        display: none;
    }

    .member-button-display {
        display: unset !important;
    }
}

.single-wall article > .ct-comments {
    padding-top: 20px;
}

.single-wall .ct-comment-inner {
    padding-top: 20px;
}

/*user profile sortcode user_pinned_posts */
.wp-ulike-pro-items-container.user_pinned_posts article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
}

.wp-ulike-pro-items-container.user_pinned_posts .entry-title {
    font-size: 1.5em;
    margin-bottom: 0;
}

.wp-ulike-pro-items-container.user_pinned_posts .entry-excerpt p {
    font-size: 1em;
    margin: 0;

}

.wp-ulike-pro-items-container .boundless-image {
    display: none;
}

.wp-ulike-pro-items-container.user_pinned_posts .entry-meta {
    margin: 0;
    font-size: .8em;
}

.wp-ulike-pro-profile-custom-info {
    display: flex;
    flex-direction: column;
}

/*interessierte liker in einer Post*/
.gruppe-header {
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

.gruppe .wp_ulike_btn.wp_ulike_put_image::after {
    width: 30px;
    height: 30px;
}

.gruppe .wpulike-heart .wp_ulike_general_class {
    box-shadow: 1px 1px 9px 1px #bdbdbd;
    border-radius: 50%;
    padding: 21px 10px;
}

.gruppe .wp_ulike_likers_wrapper {
    flex: auto;
    margin: -7px 5px;
}

.gruppe-liker {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    background: var(--ci-tab-background);
}

.gruppe-footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gruppe-footer .notice {
    justify-self: start;
    display: inline-grid;
}

.gruppe-button {
    justify-self: end;
    display: inline-grid;
}

.rpi-wall.group-members {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.rpi-wall .group-member {
    margin-left: -10px;
}

.rpi-wall .group-member img {
    border-radius: 50%;
}

.card_plg_info {
    height: 60px;
    border-top: 1px dotted var(--ci-tab-background-darker);
    padding-top: 10px;
    max-width: 100%;
    /*overflow: hidden;*/
}

article.entry-card.type-wall .plg-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.hot-comments {
    text-align: right;
    color: var(--ci-alert-color);
    position: relative;
}

.addlikes {
    position: absolute;
    top: -3px;
}

.plg-wrapper .hot-comments i::before {
    font-size: 130%;
}

.plg-wrapper .hot-comments i::after {
    font-style: normal;
    color: black;
    font-size: 19px;
    display: block;
    width: 25px;
    float: right;
    margin-top: -6px;
}

#main > .rpi-wall-buttons {
    display: grid;
    justify-content: right;
    position: relative;
    margin-top: var(--content-vertical-spacing);

}


.toolbar-content .rpi-wall-buttons {
    display: unset !important;
    justify-content: unset !important;
    margin-top: unset !important;
}


.ct-container.rpi-wall-buttons a {
    display: block;
    position: absolute;
    right: 0;
}

.group-toolbar-grip .ct-container.rpi-wall-buttons a {
    position: unset;
}

.modal-button.render-form {
    background-color: var(--ci-notification-color) !important;
    padding: 10px 30px !important;;
    color: #fff !important;
    font-weight: bold;
    border-radius: 5px;
}

.group-posts {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}

.group-post {
    box-shadow: 1px 1px 3px 0px #888;
    margin-bottom: 20px;
    padding: 50px 30px 30px 30px;
    hyphens: auto;
    position: relative;
}

.group-post .entry-meta svg {
    max-width: 18px;
    height: 15px;
}

.group-post .next-meeting hr {
    background-color: #ddd;
}


.group-post-wrapper .content {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.group-post-wrapper .ghost {
    min-height: 20px;
}

.group-post-wrapper .user-assignd {
    margin-top: 20px;
    display: grid;

}

.constituted-post-protocol > summary {
    padding: 4px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
}

.constituted-post-protocol > summary:hover {
    background-color: var(--ci-tab-background-darker);
}

.constituted-post-protocol summary h5 {
    margin-bottom: unset;
}

.constituted-post-protocol > div {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
}

.user-grid {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 30px 250px auto;
    margin: 0 0px 10px 0;
}

.user-assignd .user-members {
    display: grid;
}

.user-assignd .user-members .user-name {
    border-bottom: 1px solid green;
}

.user-assignd .user-likers {
    display: grid;
}

.user-assignd .user-likers .user-name {
    border-bottom: 2px dotted orange;
}

@media only screen and (max-width: 1300px) {
    .group-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 900px) {
    .group-posts {
        grid-template-columns: repeat(1, 1fr);
    }
}

.member-coment {
    box-shadow: 1px 1px 3px 0px #888;
    margin-bottom: 20px;
    padding: 20px;

}

.member-coment .entry-content {
    margin-left: 40px;
    margin-bottom: 10px;
}

.member-coment .entry-post-permalink {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: left;
    column-gap: 20px;

}

article:not(.founded):not(.closed) .like-group-box {
    display: grid;
    column-gap: 4px;
    grid-template-columns: minmax(48px, 96px) minmax(20%, 80%) auto;
}

.gruppe-liker .rpi-wall-group-likers, .gruppe-liker .rpi-wall-group-members {
    justify-content: center;
}

.rpi-wall-group-likers, .rpi-wall-group-members {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    position: relative;
    overflow: hidden;
}

.gruppe .rpi-wall-group-likers, .gruppe .rpi-wall-group-members {
    padding-left: 15px;
}

.rpi-wall-group-likers:before, .rpi-wall-group-members:before {
    transform: rotate(-90deg);
    position: absolute;
    left: -39px;
    top: 39px;
    padding: 0 12px;
    line-height: 19px;
    font-size: 14px;
    height: 22px;
}

.single-wall .pending .rpi-wall-group-members:before {
    content: 'beigetreten';
}

.single-wall .pending .rpi-wall-group-likers:before, .single-wall .ready .rpi-wall-group-likers:before {
    content: 'interessiert';
}

.pending .rpi-wall-group-likers li {
    opacity: 0.3;
}

.like-group-box .group-member.my_avatar img {
    border: 2px solid var(--ci-accent-color);
}

.like-btn-wrapper {
    border: 2px solid var(--ci-button-color);
    background-color: white;
    border-radius: 50%;
    box-shadow: 1px 2px 9px 1px var(--ci-tab-background-darker);
    margin: auto;
    height: 90px;
    width: 90px;
}


.like-btn-wrapper.founded {
    background-color: var(--ci-group-founded);
    border-color: var(--ci-group-founded);
}

.like-btn-wrapper.ready {
    background-color: var(--ci-group-ready);
    border-color: var(--ci-group-ready);
}

.like-btn-wrapper.closed {
    background-color: var(--ci-group-closed);
    border-color: var(--ci-group-closed);
}

.like-btn-wrapper:hover {
    background-color: var(--ci-button-color-hover);
    border-color: var(--ci-button-color-hover);
}

.like-btn-wrapper .rpi-wall-like-button {

    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: transparent;
}


.like-btn-wrapper .rpi-wall-like-button svg {
    min-width: 36px;
    height: auto;
    margin-left: 10px;

}

.like-group-box .rpi-wall-counter {
    padding: 25px 10px;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.group-member img {
    border-radius: 50%;
    border: 2px solid var(--ci-tab-background);
    background-color: white;
    margin-top: 7px;
    margin-bottom: 7px;
}

.group-member.my_avatar img {
    border: 2px solid var(--ci-accent-color);
}

.group-member {
    margin-right: -20px;
    margin-bottom: -30px;
}

.gruppe.pending .gruppe-header {
    border-top: 5px solid var(--ci-button-color);
    border-bottom: 5px solid var(--ci-button-color);
}

.member-card-name {
    font-weight: bold;
    margin: 10px !important;

}

.member-card-head {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted var(--ci-tab-background-darker);
}

.member-card-head img {
    border-radius: 50%;
}

.member-card-tags {
    margin-top: 10px;
    font-size: 13px;
}

.member-card-tags p {
    margin-bottom: 5px;
}


/**
 * Edit Forms
 */

.acf-field[data-name="post_title"] input[type="text"] {
    font-size: 30px;
}


.close-modal {
    color: #98b256;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold
}

.rtl.close {
    left: 10px;
    right: auto
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer
}

.show {
    display: block
}

.group-toolbar-grip a.button {
    width: 100%;
}

.group-tab-matrix-detail {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    background-color: var(--ci-tab-background);
    width: 100%;
    border-radius: 15px;
    padding: 5px 0;
}

.toolbar-header {
    color: white;
    font-weight: bold;
    text-align: center;
}

.tab-panel .toolbar-header {
    color: unset;
}

.toolbar-header h4 {
    padding: 15px 0;
    background-color: white;

}

.group-toolbar-grip {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 25px;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
}

.toolbar-content {
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 15px;
}

.toolbar-button, .rpi-wall-buttons a {
    font-weight: bold !important;
    box-shadow: 2px 2px 2px -1px #555;
}

.toolbar-settings {
    position: relative;
    height: 60px;
}

.toolbar-setting-buttons {
    position: absolute;
    right: 0;

    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    grid-gap: 5px;
}

.toolbar-edit-button span {
    padding-top: 3px;
}

.toolbar-details {
    display: grid;
    grid-template: "goals protocol";
    grid-template-columns: 50% 50%;
}

.toolbar-protocols {
    grid-area: protocol;
    display: grid;
    padding: 10px;
    border-left: var(--ci-tab-background-darker) solid 1px;
}

.toolbar-group-goal {
    grid-area: goals;
    padding: 10px;
    border-right: var(--ci-tab-background-darker) solid 1px;
}

.rpi-wall-filters .facetwp-selections ul {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.ct-container.rpi-wall-filters summary.button.active::after {
    content: 'gesetzt!';
    margin-left: 10px;
}

.rpi-wall-filters button, .rpi-wall-paging button {
    color: var(--buttonTextInitialColor);
    background-color: var(--buttonInitialColor);
    border: var(--button-border);
    /*box-shadow: 1px 1px 1px 2px #aaa;*/
    display: var(--display, inline-flex);
    align-items: center;
    justify-content: center;
    min-height: var(--buttonMinHeight);
    padding: var(--button-padding);
    cursor: pointer;
    user-select: none;
    text-align: center;
    border-radius: var(--buttonBorderRadius, 3px);
    margin-left: auto;
    margin-right: auto;
}

.rpi-wall-filters button:hover, .rpi-wall-paging button:hover {
    border-color: var(--button-border-hover-color);
    color: var(--buttonTextHoverColor);
    background-color: var(--buttonHoverColor);
}

.rpi-wall-filter a {
    color: var(--ci-sub-box-font-color);
}

.rpi-wall-filter summary {
    font-weight: bold;

}

.rpi-wall-filter details[open] {
    transition: all 2s ease;
}

.rpi-wall-filter .fs-wrap {
    width: 100%;
    border-radius: 3px;
    border-color: #2189F2;
    padding: 5px;
    border: 1px solid var(--ci-success-color);
    background: var(--ci-sub-box-font-color);
}

.rpi-wall-filter .facetwp-facet input, .rpi-wall-filter .facetwp-facet select {
    background: var(--ci-sub-box-font-color);
}

.rpi-wall-filter .facetwp-type-radio {
    background: var(--ci-sub-box-font-color);
    padding: 5px 10px 2px;
    border: 1px solid var(--ci-success-color);
    font-size: 15px;
}

.rpi-wall-filter .facetwp-type-radio .facetwp-radio {
    margin-right: 10px;

}


.rpi-wall-filter .fs-dropdown {
    box-shadow: 2px 2px 5px #777;
}

.rpi-wall-filter .facetwp-search, .rpi-wall-filter select {
    background-color: #dddddd;
}

.rpi-wall-filter[open] .rpi-wall-tag-cloud {
    padding: 10px;
    background: var(--ci-sub-box-background-color);
    border-radius: 5px;

}

.rpi-wall-filter.container {
    background: var(--ci-tab-background);
    padding: 30px;
    border-radius: 0 5px 5px;

}

.rpi-wall-filter.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin-top: 10px;
    border-radius: 5px;
    column-gap: 30px;
}

.rpi-wall-filter .facetwp-facet {
    margin-bottom: 5px;
    display: flex;
}

.rpi-wall-filter .facetwp-date.facetwp-date-min.ready.fdate-alt-input, .rpi-wall-filter .facetwp-date.facetwp-date-max.ready.fdate-alt-input {
    width: 40% !important;
}

.rpi-wall-tag-cloud a {
    margin: 2px 15px;
}

.facetwp-facet-beobachtet .facetwp-counter {
    display: none;
}

.termin-date {
    background-color: var(--ci-basis);
    color: var(--ci-sub-box-font-color);
    padding: 40px;
    margin: -40px -40px 0;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid;
}

.rpi-wall-paging {
    text-align: center;
    padding-top: 20px;
}

.facetwp-facet.facetwp-facet-pagecount.facetwp-type-pager {
    color: var(--ci-tutorial-notification);
}

@media only screen and (max-width: 600px) {

    .rpi-wall-filter.grid {
        display: unset;
    }

    .group-toolbar-grip {
        grid-template-columns: unset;
    }

    .toolbar-details {
        grid-template: "goals""protocol";
        grid-template-columns: unset;
    }

    .toolbar-protocols {
        border-right: unset;
    }

    .toolbar-group-goal {
        border-left: unset;
    }
}

@media screen and (max-width: 500px) {
    [class*="ct-container"] > article {
        width: 96%;
    }
}

body.toolbar #wpadminbar {
    display: none;
}

.toolbar .acf-label label {
    font-size: 18px;
}

.toolbar .acf-label .description {
    font-size: 13px;
}

/* MODAL */
.animated.zoomIn {
    background: rgba(0, 0, 0, 0.7) !important;
}

.modal-wrapper {
    margin: 50px auto;
    max-width: 800px;
    background: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {

    .modal-wrapper {
        padding: unset;
    }
}

.modal-wrapper .acf-fields > .acf-field {
    border-top: 0;
}

#btn-close-modal {
    text-align: right;
    display: block;
}

#btn-close-modal button {
    border-radius: 50%;
    margin-right: -38px;
    margin-top: -9px;
    border: 2px solid #c0c0c0;
    background-color: white;
    padding: 5px 13px;
    color: #999;
}

#btn-open-modal-edit-buttons, #btn-open-modal-close-plg, #btn-open-faq {
    background-color: var(--ci-tutorial-notification);
    box-shadow: none;
    color: black;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-align: center;
}

#btn-open-modal-edit-buttons:hover, btn-open-modal-edit-buttons:hover, #btn-open-faq:hover {
    background-color: var(--ci-tab-background-darker);
}

#btn-open-modal-edit-buttons {
    position: unset;
}

#btn-open-faq span {
    margin: auto;
    font-weight: bold;
    font-size: large;
}


/* Protokoll */
.single-protokoll h2 {
    border-bottom: 1px solid #ccc;
    font-size: medium;
    margin-top: 30px;
    background-color: #f9c227;
    padding: 5px 20px;
}
.single-protokoll h3 {
    font-size: 20px;
}
.protokoll-container{
    margin: 0 50px 50px 30px !important;
    border-left: 2px solid #f9c227;
    padding-left: 50px;
}

.sed-page-title .site-title-container{
   width: max-content;
}
