/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
}

.tabset .tab-panel {
    display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6)
{
    display: block!important;
}

/*
 Styling
*/
body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
}

.single-wall  .tabset {
    margin-top: -128px;
}

.single-wall .wall.type-wall.hentry {
    margin-top: 51px;
}


.tabset > label {
    position: relative;
    display: inline-block;
    /*padding: 15px 15px 25px;*/
    border: 0px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    background-color: lightgrey;
}


.tabset label a {
    padding: 12px 11px;
    display: block;
    color: inherit;
    text-align: center;
}
.tabset label a svg{
    width:36px;
    height:auto;
}

.tabset > input:focus + label {
    background-color: #aaaaaa;
}
.tabset > label:hover
 {
    color: #000;
    background-color: #aaaaaa;

}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
    background: #2189F2;
}

.tabset > input:checked + label {
    border-color: #ccc;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background: var(--ci-accent-color);
    color: white;
}

.tabset > input:checked + label svg{
    fill: white;
}
.tab-panels {
    border-top: 2px solid #2189F2;
    margin-top: -9px;
    padding-top: 20px;
}
.profile-panel{
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 2fr;
}
.tab-panel h2{
    font-size: 18px;
    color: #aaa;
    text-align: center;
    border-bottom: 1px solid #2189F2;
    display: none;
}
@media only screen and (max-width: 600px) {

    article.type-member{
        /*margin: 0;*/
        /*padding: 0;*/
    }
    .tab-panels {

        padding-top: 0px;
    }

    .tab-panel h2{
        display: block;
    }
    .tabset > label .tab-label{
        display: none;
    }
    .meta-author{
        width: 100%;
    }
    .meta-author > a{
        display: block;
        text-align: center;
        font-size: 20px;
        padding: 0;
        margin:0 !important;
    }
    .profile-panel{
        display: block;
    }
    .frontend-form.-submit{
        border-top: 3px solid #eee;
        margin-top: 40px;
    }
    .tabset label a svg{
        width:28px;
    }
    .tab-panel .entry-title h3{
        font-size: 20px;
    }
    .tab-panel .group-post{
        padding: 4px;
    }
}
@media only screen and (min-width: 800px) {
    .wall .tabset label{
        width:150px;
        height: 85px;
    }
    .wall .tabset > input:checked + label:nth-child(2){
        margin-right: -20px;
        box-shadow: 2px 0px 5px #999999;
        z-index: 2;
        height: 92px;
        top: -5px;
    }
    .wall .tabset > input:checked + label:nth-child(4){
        margin-left: -20px;
        box-shadow: -2px 0px 5px #999999;
        z-index: 2;
        height: 92px;
        top: -5px;

    }

}

@media only screen and (max-width: 800px) {
    .wall .tabset label{
        width:100px;
    }
    .wall .tabset > input:checked + label:nth-child(2){
        margin-right: -20px;
        box-shadow: 2px 0px 5px #999999;
        z-index: 2;
        height: 63px;
        top: -3px;
    }
    .wall .tabset > input:checked + label:nth-child(4){
        margin-left: -20px;
        box-shadow: -2px 0px 5px #999999;
        z-index: 2;
        height: 63px;
        top: -3px;
    }

}
